
* {
background: rgb(235, 114, 114);
 }
.card {
  position: relative;
  background-color: rgb(51, 43, 59);
  box-shadow: 0 0 5px rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}
 
.card h2 {
  margin-top: 0;
}
 
.card img {
  max-width: 100%;
  border-radius: 8px;
  /* margin-top: 10px; */


 

.card button {
  background: none;
  border: none;
  cursor: pointer;
}
 
.cancel-btn {
  position: absolute;
  top: -10px;
  right: -10px;
}
 
.plus-btn {
  position: absolute;
  right: 100px;
  bottom: 50px;
}
 
.minus-btn {
  position: absolute;
  left: 100px;
  bottom: 50px;
}
 
.card p {
  position: absolute;
  left: 170px;
  bottom: 16px;
}
 
.data {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  color: white;
}
 
.data div {
  background-color: rgb(18, 23, 40);
  box-shadow: 0 0 5px rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
} 


}